{% extends "shop/base.html" %}


{% block content %}
<main class="container my-5" aria-label="Edit Profile">
  <h1 class="mb-4">Edit Profile</h1>
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Account</legend>
      {{ user_form.as_p }}
    </fieldset>
    <fieldset>
      <legend>Profile</legend>
      {{ profile_form.as_p }}
    </fieldset>
    <button type="submit" class="btn btn-primary" aria-label="Save changes">Save</button>
    <a href="{% url 'shop:profile' %}" class="btn btn-secondary" aria-label="Cancel and return to profile">Cancel</a>
  </form>
</main>
{% endblock %}
