{% extends "shop/base.html" %}
{% load static %}

{% block title %}Gallery - Mollavie{% endblock %}

{% block content %}
<h1 class="mb-4">Gallery</h1>

<div class="row">
    {% for artwork in artworks %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <a href="{% url 'artwork_detail' artwork.id %}">
                <div class="image-wrapper">
                <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.name }}">
                <p style="font-size: small;">{{ artwork.image.url }}</p>
            </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ artwork.name }}</h5>
                <p class="card-text">£{{ artwork.price }}</p>
                {% if artwork.is_available %}
                    <a href="{% url 'artwork_detail' artwork.id %}" class="btn btn-outline-primary">View</a>
                    <a href="{% url 'add_to_cart' artwork.id %}" class="btn btn-outline-secondary ml-2">Add to Cart</a>
                {% else %}
                    <span class="text-muted">Sold Out</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
