{% extends "shop/base.html" %}

{% block title %}Order Confirmation - Mollavie{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h2> Thank you for your purchase!</h2>

    {% if order %}
        <p>Your order ID is <strong>#{{ order.id }}</strong></p>
        <p>You purchased: <strong>{{ order.items.first.product.name }}</strong></p>
        <p>Total: <strong>£{{ order.items.first.product.price }}</strong></p>
    {% else %}
        <p>Sorry, we couldn't find your order details.</p>
    {% endif %}

    <a href="{% url 'shop:gallery' %}" class="btn btn-outline-primary mt-3">Continue Browsing</a>
</div>
{% endblock %}

